*{
    color: blue;
    background-color: cornflowerblue;
    border: 1px solid black;
    margin: 3px;

}

body{
    background-color: coral;
}

#parrafo {
    background-color: crimson;
}

.clasecss {
    background-color: darkorchid;
}