html, body{
    margin: 0;
    padding: 0;
    
}

body{
    display: grid;
    grid-template-columns: auto 300px;
    overflow-x: hidden;
}

.superior{
    background-color: white;
    display: inline-block;
    width: 100vw;
    height: 20px;
    position: fixed;
    z-index: 1;
}
header{
    background-color: #2a4d7d;
    width: 100vw;
    position: fixed;
    top: 20px;
    z-index: 10;
    display: flex;
    align-content: center;
}
header h1{
    color: white;
    display: inline-block;
    margin: auto 1%;
}
img {
    width: 100px;
    height: 100px;
    padding: 10px 5px ;
}

aside{
    background-color: #dfe4ec;
    position: fixed;
    display: block;
    width: 300px;
    height: 100vh;
    right: 0;
    z-index: 5;
    overflow-y: auto;
}
.aside_div{
    position: relative;
    top: 125px;
    width: 250px;
    margin: 0 auto;
    padding: 0;
}
.aside_div_section, .aside_div_section_contacto_1{
    margin: 0;
    padding: 0;
}
.aside_div_section_contacto_2{
    display: none;
    margin: 0;
    padding: 0;
}


.div_article{
    position: relative;
    top: 120px;
    margin: 0 auto;
}


article{    
    display: block;
    padding: 1%;
}
section{
    padding: 1%;
}

aside p i{
    width: 8%;
    text-align: center;
    color: white;
    padding: 2%;
    background-color: #2a4d7d;
    border-radius: 100%;
}

.azul{
    color: #2a4d7d;
    font-weight: 1000;
}

.celeste{
    color: #2a4d7d;
}

@media only screen and (max-width: 700px) {
    body{
        display: contents;
    }
    aside{
        position: static;
        width: 100vw;
        height: auto;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .aside_div{
        position: static;
        width: 100vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .aside_div_section {
        margin: 0 auto;
    }
    .aside_div_section_contacto_2{
        width: 100vw;
        display: grid;
        place-content: center;
    }
    .aside_div_section_contacto_1{
        display: none;
    }
    .div_article{
        position: static;
        margin: 0 3%;
        padding: 120px 0 0 0;
    }
    @media only screen and (max-width: 420px) {
        .aside_div{
            width: 100vw;
            display: grid;
            grid-template-columns: 100%;
            place-content: center;
        }
        .aside_div_section_contacto_2{
            position: relative;
            left: 4%
        }
    }
}